In [1]:
import numpy as np
import pandas as pd
import os

dfRaw=pd.read_excel('C:/Users/user/Desktop/프로젝트/2019-2020 융합형 의사과학자/2020/준비/SHIFTWORK.xlsx')
dfRaw2=pd.read_excel('C:/Users/user/Desktop/프로젝트/2019-2020 융합형 의사과학자/2020/준비/BMI.xlsx')
dfRaw3=pd.read_excel('C:/Users/user/Desktop/프로젝트/2019-2020 융합형 의사과학자/2020/준비/PERSONAL.xlsx')
dfRaw4=pd.read_excel('C:/Users/user/Desktop/프로젝트/2019-2020 융합형 의사과학자/2020/준비/LIFESTYLE.xlsx')

In [2]:
# SHIFTWORK 행열 재배치
dfRaw[['PATNUM', 'ORDDAT']]=dfRaw[['PATNUM', 'ORDDAT']].astype(str)
PK=dfRaw['PATNUM']+dfRaw['ORDDAT']
dfRaw['PK']=PK
df=dfRaw.drop(['PATNUM','EXMDAT','EXMSEQ','EXMKND', 'ORDDAT', 'EDITID'], axis=1)
df.head()

,QUETYP,QUEV01,QUEV02,QUEV03,QUEV04,QUEV05,QUEV06,QUEV07,QUEV08,QUEV09,...,RSLT02,RSLT03,RSLT04,RSLT05,RSLT06,RSLT07,RSLT08,RSLT09,RSLTXT,PK
0,1,1,1,1,2.0,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,특이소견없음,19605417720190125
1,2,0,0,0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,3.0,3.0,NaN,0.0,NaN,NaN,6.0,수면의 질이 좋지 않음,19605417720190125
2,3,1,1,1,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,정상,19605417720190125
3,4,1,1,1,1.0,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,특이소견없음,19605417720190125
4,5,1,NNNN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,특이소견없음,19605417720190125

In [3]:
Q1=df[df['QUETYP']==1]
Q2=df[df['QUETYP']==2]
Q3=df[df['QUETYP']==3]
Q4=df[df['QUETYP']==4]
Q6=df[df['QUETYP']==6]

In [4]:
QQ=pd.merge(Q1,Q2,on=['PK'], how='outer', suffixes=['_1', '_2'])
QQQ=pd.merge(QQ,Q3,on=['PK'], how='outer', suffixes=['', '_3'])
QQQQ=pd.merge(QQQ,Q4,on=['PK'], how='outer', suffixes=['', '_4'])
QQQQQ=pd.merge(QQQQ,Q6,on=['PK'], how='outer', suffixes=['', '_6'])
df_shift=pd.DataFrame(QQQQQ)
#df_shift.to_excel('df_shift.xlsx') # 이상무

### pd.merge(a,b,on=[pk], how=outer)

In [5]:
#BMI 열 붙이기
dfRaw2[['PATNUM', 'ORDDAT']]=dfRaw2[['PATNUM', 'ORDDAT']].astype(str)
PK=dfRaw2['PATNUM']+dfRaw2['ORDDAT']
dfRaw2['PK']=PK
df_bmi=dfRaw2.drop(['PATNUM','ORDDAT', 'HEIGHT', 'WEIGHT', 'WAIST'], axis=1)
df_bmi.describe

<bound method NDFrame.describe of        BMI                 PK
0      NaN  10678582120190225
1     20.9  10678582120190225
2      NaN  10678582120190225
3      NaN  10678582120190225
4      NaN  10678582120190225
...    ...                ...
6520   NaN  13614585520190329
6521   NaN  11615414120190329
6522   NaN  11615422220190329
6523   NaN  11615517920190329
6524   NaN  11615543820190329

[6525 rows x 2 columns]>

In [6]:
#PERSONAL 파일의 열 붙이기
per=dfRaw3[['PATNUM', 'SEXTYP', 'BITDAT', 'CUSTCD' , 'CUSTNM']]
df_per=pd.DataFrame(per)

In [7]:
#LIFESTYLE
dfRaw4[['PATNUM', 'ORDDAT']]=dfRaw4[['PATNUM', 'ORDDAT']].astype(str)
PK=dfRaw4['PATNUM']+dfRaw4['ORDDAT']
dfRaw4['PK']=PK
lifestyle=dfRaw4.drop(['PATNUM','EXMKND','ORDDAT', 'EDITID'], axis=1)
df_life=pd.DataFrame(lifestyle)

In [8]:
#LIFESTYLE 자료 붙이기
merge=pd.merge(df_shift,df_life,on=['PK'], how='outer') 
df_shift_life=pd.DataFrame(merge)
#df_shift_life.to_excel('df_shift_life.xlsx') 

#PERSONLA 테이블엔 ORDDAT 없어서 PK를 다시 PATNUM으로 스플릿 하고 
df_shift_life['PATNUM']=df_shift_life.PK.str[0:9]
df_shift_life['PATNUM']=pd.to_numeric(df_shift_life['PATNUM'])

#PERSONAL 자료 붙이기 - 7956
merge2=pd.merge(df_shift_life,df_per,on=['PATNUM'], how='inner')
df_shift_life_per=pd.DataFrame(merge2)
df_shift_life_per

merge3=pd.merge(df_shift_life_per,df_bmi,on=['PK'], how='left') # bmi 버릴까..
df_all=pd.DataFrame(merge3)

In [9]:
#df_shift_life_per.to_excel('df_shift_life_per.xlsx')
df_all.to_excel('df_all.xlsx')

### 스플릿

In [10]:
import numpy as np
import pandas as pd
import os

df_all=pd.read_excel('D:/data/df_all.xlsx')
df_all=pd.DataFrame(df_all)

In [11]:
df_all[['QUE011', 'QUE012', 'QUE021']] = df_all[['QUE011', 'QUE012', 'QUE021']].astype(str)
df_all['PHx_1']=df_all.QUE011.str[0]
df_all['PHx_2']=df_all.QUE011.str[1]
df_all['PHx_3']=df_all.QUE011.str[2]
df_all['PHx_4']=df_all.QUE011.str[3]
df_all['PHx_5']=df_all.QUE011.str[4]
df_all['PHx_6']=df_all.QUE011.str[5]
df_all['PHx_7']=df_all.QUE011.str[6]

df_all['Med_1']=df_all.QUE012.str[0]
df_all['Med_2']=df_all.QUE012.str[1]
df_all['Med_3']=df_all.QUE012.str[2]
df_all['Med_4']=df_all.QUE012.str[3]
df_all['Med_5']=df_all.QUE012.str[4]
df_all['Med_6']=df_all.QUE012.str[5]
df_all['Med_7']=df_all.QUE012.str[6]

df_all['FHx_1']=df_all.QUE021.str[0]
df_all['FHx_2']=df_all.QUE021.str[1]
df_all['FHx_3']=df_all.QUE021.str[2]
df_all['FHx_4']=df_all.QUE021.str[3]
df_all['FHx_5']=df_all.QUE021.str[4]

In [12]:
#노출평가 항목 SPLIT
df_all[['QUEV03_6', 'QUEV06_6', 'QUEV08_6']] = df_all[['QUEV03_6', 'QUEV06_6', 'QUEV08_6']].astype(str)
df_all['QUEV03_6_1']=df_all.QUEV03_6.str[0]
df_all['QUEV03_6_2']=df_all.QUEV03_6.str[1]

df_all['QUEV06_6_load']=df_all.QUEV06_6.str[0]
df_all['QUEV06_6_rest']=df_all.QUEV06_6.str[1]

df_all['QUEV08_6_1']=df_all.QUEV08_6.str[0]
df_all['QUEV08_6_2']=df_all.QUEV08_6.str[1]
df_all['QUEV08_6_3']=df_all.QUEV08_6.str[2]
df_all['QUEV08_6_4']=df_all.QUEV08_6.str[3]
df_all.to_excel('df_all.xlsx')

### df_all 엑셀파일에서 불필요한 행 및 변수 삭제, 변수명 새로 지정 후 df_final.xlsx 로 저장함

In [2]:
import numpy as np
import pandas as  pd
import os

df_final=pd.read_excel('D:/data/Machine_Learning/data_final.xlsx')
df_final=pd.DataFrame(df_final)

In [3]:
from datetime import datetime
now=datetime.today()
print(now)

df_final['dob']=pd.to_datetime(df_final['BITDAT'], format='%Y%m%d').dt.strftime('%Y-%m-%d')
df_final['dob']=df_final['dob'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))
print(df_final['dob'])

df_final['now']=now
df_final['now']=pd.to_datetime(df_final['now'])
print(df_final['now'])
df_final['diff_days']=df_final['now']-df_final['dob']
#일수 차이를 연도로 바꾸고 +1 해주면 연령

2020-12-07 18:24:24.065623
0      1993-06-14
1      1993-06-14
2      1989-06-04
3      1989-06-04
4      1992-06-01
          ...
9337   1992-12-29
9338   1955-10-20
9339   1955-09-08
9340   1973-07-29
9341   1995-10-18
Name: dob, Length: 9342, dtype: datetime64[ns]
0      2020-12-07 18:24:24.065623
1      2020-12-07 18:24:24.065623
2      2020-12-07 18:24:24.065623
3      2020-12-07 18:24:24.065623
4      2020-12-07 18:24:24.065623
                  ...
9337   2020-12-07 18:24:24.065623
9338   2020-12-07 18:24:24.065623
9339   2020-12-07 18:24:24.065623
9340   2020-12-07 18:24:24.065623
9341   2020-12-07 18:24:24.065623
Name: now, Length: 9342, dtype: datetime64[ns]

In [4]:
df_final2=df_final.drop_duplicates(['PK', 'BMI'])
print(len(df_final))
print(len(df_final2))
#중복데이터 지우긴 했지만 BMI가 있는 PK를 가진 경우 BMI 있는 경우와 없는 경우 두개의 행을 갖고 있음

9342
8520

In [ ]:
today=date.today()
print(today)
saemi=date(1990,10,4)
print(saemi)
diff=today-saemi
print(diff/365)

In [6]:
print(df_final2)
df_final2.to_excel('df_final2.xlsx')

                     PK     PATNUM  SEXTYP    BITDAT CUSTCD          CUSTNM  \
0     19605417720190100  196054177       1  19930614  H3102    부산교통공사 전기사업소
1     19605417720190620  196054177       1  19930614  H3102    부산교통공사 전기사업소
2     19605416420190120  196054164       1  19890604  H3102    부산교통공사 전기사업소
3     19605416420190620  196054164       1  19890604  H3102    부산교통공사 전기사업소
4     19605411920190120  196054119       1  19920601  H3102    부산교통공사 전기사업소
...                 ...        ...     ...       ...    ...             ...
9337  19649558720190820  196495587       1  19921229  H1204       진양산업 주식회사
9338  12682267020190910  126822670       1  19551020  H3512   경남아너스빌입주자대표회의
9339  19655968520190908  196559685       1  19550908  H3512   경남아너스빌입주자대표회의
9340  17624218720190910  176242187       1  19730729  H3102    부산교통공사 전기사업소
9341  18618393520190908  186183935       1  19951018  H2723  (주) 원봉_양산부산대병원

      BMI  QUETYP_1  INSOMN_1  INSOMN_2  ...  WORKOUT_1  WORKOUT_2  WORKOUT_3  \
0     NaN       1.0       1.0       1.0  ...        0.0        0.0        0.0
1     NaN       1.0       1.0       2.0  ...        0.0        0.0        0.0
2     NaN       1.0       1.0       1.0  ...        0.0        0.0        0.0
3     NaN       1.0       1.0       1.0  ...        0.0        0.0        0.0
4     NaN       1.0       1.0       1.0  ...        0.0        NaN        0.0
...   ...       ...       ...       ...  ...        ...        ...        ...
9337  NaN       1.0       1.0       1.0  ...        NaN        NaN        NaN
9338  NaN       1.0       1.0       1.0  ...        NaN        NaN        NaN
9339  NaN       1.0       1.0       1.0  ...        NaN        NaN        NaN
9340  NaN       1.0       1.0       1.0  ...        NaN        NaN        NaN
9341  NaN       1.0       1.0       1.0  ...        NaN        NaN        NaN

      WORKOUT_4  WORKOUT_5  WORKOUT_6 WORKOUT_7        dob  \
0           0.0        0.0        0.0       0.0 1993-06-14
1           0.0        0.0        0.0       0.0 1993-06-14
2           3.0        0.0       30.0       0.0 1989-06-04
3           0.0        0.0        0.0       4.0 1989-06-04
4           0.0        NaN        0.0       0.0 1992-06-01
...         ...        ...        ...       ...        ...
9337        NaN        NaN        NaN       NaN 1992-12-29
9338        NaN        NaN        NaN       NaN 1955-10-20
9339        NaN        NaN        NaN       NaN 1955-09-08
9340        NaN        NaN        NaN       NaN 1973-07-29
9341        NaN        NaN        NaN       NaN 1995-10-18

                            now                  diff_days
0    2020-12-07 18:24:24.065623 10038 days 18:24:24.065623
1    2020-12-07 18:24:24.065623 10038 days 18:24:24.065623
2    2020-12-07 18:24:24.065623 11509 days 18:24:24.065623
3    2020-12-07 18:24:24.065623 11509 days 18:24:24.065623
4    2020-12-07 18:24:24.065623 10416 days 18:24:24.065623
...                         ...                        ...
9337 2020-12-07 18:24:24.065623 10205 days 18:24:24.065623
9338 2020-12-07 18:24:24.065623 23790 days 18:24:24.065623
9339 2020-12-07 18:24:24.065623 23832 days 18:24:24.065623
9340 2020-12-07 18:24:24.065623 17298 days 18:24:24.065623
9341 2020-12-07 18:24:24.065623  9182 days 18:24:24.065623

[8520 rows x 132 columns]

In [10]:
!git init

Reinitialized existing Git repository in D:/data/Machine_Learning/.git/

In [11]:
!git remote add origin https://github.com/saemi-jung/scikit-learn.git

fatal: remote origin already exists.

In [29]:
!git config core.autocrlf true
!git add shiftwork.ipynb

warning: LF will be replaced by CRLF in shiftwork.ipynb.
The file will have its original line endings in your working directory

In [15]:
!git commit -m "."

[master 03c3874] .
 2 files changed, 732 insertions(+), 30 deletions(-)
 create mode 100644 .ipynb_checkpoints/shiftwork-checkpoint.ipynb

In [16]:
!git push origin master

remote: This repository moved. Please use the new location:
remote:   https://github.com/saemi-jung/scikit-learn.git
To https://github.com/saemi-jung/ML.git
   c087bdf..03c3874  master -> master

In [11]:
!git status

On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   shiftwork.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	data.xlsx
	data_final.xlsx
	df_all.xlsx

no changes added to commit (use "git add" and/or "git commit -a")